<div class="container">

    <div class="jumbotron text-center">
        <h1>Pizza Passport</h1>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <ul class="list-group-flush">
                <h2>Eat</h2>
            {{#each pizzas}}
                {{#unless this.devoured}}
                <li class="list-group-item not-devoured">
                    {{this.id}}. {{this.pizza_name}} <button type="button" class="btn devour-button float-right">Devour</button>
                </li>
                {{/unless}}
            {{/each}}
            </ul>

        </div>

        <div class=" col-md-6 col-sm-12 devoured">
            <ul class="list-group-flush">
                <h2>Ate</h2>
            {{#each pizzas}}
                {{#if this.devoured}}
                <li class="list-group-item">
                    {{this.id}}. {{this.pizza_name}}
                </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>

    <form method="POST" action="/pizza/create">
        <div class="row">

            <div class="col-md-3"></div>

            <div class=" col-md-6 col-sm-12">
                <textarea class="form-control" type="text" name="pizza_name" id="pizza" class="form-control" placeholder="" rows="2"></textarea>
            </div>

            <div class="col-md-3"></div>

        </div>

        <div class="row">
            <div class="col text-center">
                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>Type the name of a pizza you would like to eat and then hit the Submit Button.</p>
        </div>
    </div>

</div>